body {
  margin: 0;
  padding: 0;
  background-color: #1b4e23;
}

.navBar {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #00505c;
  height: 60px;
  font-size: 24px;
}

.navLink {
  color: #f9f77a;
  margin: 0 20px;
  text-decoration: none;
  font-weight: bold;
}